<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">

		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form>
				<p:growl id="msgs" showDetail="true" sticky="true">
					<p:autoUpdate />
				</p:growl>
				<p:inputText value="#{usuarioBean.us.usuario}" />
				<p:commandButton value="Buscar" action="#{usuarioBean.listar()}" update="dt" />

				<p:dataTable id="dt" var="e" value="#{usuarioBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">

					<p:column headerText="Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acciones" exportable="false">
						<p:commandButton value="Modificar"
							actionListener="#{usuarioBean.mostrarData(e)}"
							oncomplete="PF('wdlg').show()" immediate="true" update="dlg"
							process="@this" />
					</p:column>

				</p:dataTable>

			</h:form>

			
				<p:dialog id="dlg" widgetVar="wdlg"
					header="Modificando Usuario: #{usuarioBean.usModificado.usuario}"
					modal="true" closeOnEscape="true" resizable="false"
					draggable="true">
					<h:form id="frm2">
					<p:growl id="msgs2" showDetail="true" sticky="true">
						<p:autoUpdate />
					</p:growl>
					<h:panelGrid id="pg" columns="4">
					
						<p:outputLabel for="txtUsuario" value="Usuario" />
						<p:inputText id="txtUsuario"
							value="#{usuarioBean.usModificado.usuario}" disabled="true" />
						<h:column />
						<h:column />

						<p:outputLabel value="Contraseña actual" />
						<h:inputSecret id="txtContrasena" required="true" value="#{usuarioBean.contra}" />
						
						<p:commandButton value="Verificar" 
							action="#{usuarioBean.verificarContrasena()}" update="dlg" ajax="true" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').show()"/>
						<h:column />
					</h:panelGrid>
					</h:form>
					<h:form id="frm3">
					<h:panelGrid id="pg2" columns="4">
						<p:outputLabel for="pwd1" value="Nueva Contraseña" />
						<p:password id="pwd1" value="#{usuarioBean.us2.contrasena}"
							match="pwd2" label="Password 1" required="true"
							validatorMessage="Contraseñas no coinciden" />
						<p:message for="pwd1" display="text" />
						<h:column />

						<p:outputLabel for="pwd2" value="Repetir Contraseña" />
						<p:password id="pwd2" value="#{usuarioBean.us2.contrasena}"
							label="Password 2" required="true" />
						<h:column />
						<h:column />
						</h:panelGrid>
						<p:commandButton id="btn" value="Aceptar"
						actionListener="#{usuarioBean.modificar()}" ajax="true"
						 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
						rendered="#{usuarioBean.activaBtn == 'enabled'}" />
						<p:commandButton value="Cancelar" actionListener="#{usuarioBean.cancelar()}" ajax="true" immediate="true"
						 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" />
					</h:form>
					
				</p:dialog>
			

		</ui:define>

	</ui:composition>
</body>
</html>
